body {
    font-family: 'Montserrat', sans-serif;
}
.banner {
    background: linear-gradient(rgba(223, 41, 53, 0.85), rgba(223, 41, 53, 0.85)), url('img/banner_1.png') no-repeat center/cover;
    color: white;
    text-align: center;
    padding: 6rem 2rem;
}
.grid_card {
    background-color: rgba(247, 179, 43, 0.972);
    padding: 2rem;
    border-radius: 16px;
}
.card img {
    height: 250px;
    object-fit: cover;
}