
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #12100E;
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    color: #F7B32B;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.8rem;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.menu a:hover {
    color: #FFFBFE;
    background-color: #DF2935;
    border-radius: 8px;
}