@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,367;1,367&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atma', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/contactenos.jpg) no-repeat center center/cover;
    background-position: center center ;
    background-size: cover;
    background-repeat: no-repeat;

}
.container{
    display: flex;
    grid-template-columns: repeat(2,50%);
    padding: 20%;
    gap: 10px;
    width: 100%;
}
.box-info{
    display: flex;
    flex-direction: column;
    color: #fffbfe;
    gap: 50%;
}
.data{
    font-size: irem;
}

.data > p > i{
    color: #F7B32B;
    margin-bottom: 10px;
    font-size: 25px;
}
.social > a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: #F7B32B;
    text-align: center;
    transition: .1s;
}
.social > a > i{
color: #fffbfe;
line-height: 40px;
font-size: 20px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
text-align: center;
}
.input-box{
    position:relative
}
.input-box > input{
    width: 100%;
    height: 40px;
    padding: 10px;
    outline: none;
    background: rgba(255, 255, 255/.1);
    border: 3px solidtransparent;
    color: #fffbfe;
    letter-spacing: 1px;
    transition: .3s;
}
.input-box > textarea{
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255/.1) ;
    border: 3px solid transparent;
}

